.HomeImagesCenter {
  display: flex;
  justify-content: center;
}

.logo {
  margin-top: 5%;

  height: 10%;
  width: 40%;
}

.arrow {
  height: 10%;
  width: 10%;
}

.homePagetxt {
  text-align: center;
}

.father {
  display: flex;
  justify-content: center;
}

.myChild {
  flex-direction: row;
  padding: 10px;
}

.Home {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  text-align: center;
  font-size: 30px;
}

.myHome {
  width: 50px;
  height: 50px;
}

header {
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
  text-align: right;
  font-size: 30px;
  display: flex;
  flex-direction: row;
}

/* .SideBar {
  font-size: 30px;
  padding: 10px;
  display: inline;
} */

.UserLogIn {
  font-size: 20px;
  padding: 25px;
  display: inline;
}

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 20px;
  top: 20px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/* General sidebar styles */
.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.AllCities {
  font-size: 100%;
  text-align: center;
}

.cityPage {
  width: 50%;

  margin: auto;
  border-style: groove;
}

.profilePic {
  width: 8%;
  height: 8%;
  border-radius: 100%;
}
